<tr class="product-row" data-master-id={{masterId}} data-variation-id={{variationId}}>
    <th class="basket-row" scope="row">
        {{name}}
        {{#if ([helpers/isEqual] quantity 5)}}
        <br />
        <span class="text-danger max-items">The maximal allowed quantity is 5 items</span>
        {{/if}}
        {{#if ([helpers/isGreater] quantity 1)}}
        <br />
        <span class="text-info max-items">Discount 10% for more than 1 item!</span>
        {{/if}}
    </th>
    <td class="basket-row">{{detail}}</td>
    <td class="basket-row">
        {{#if ([helpers/isGreater] quantity 1)}}
        <del>${{pricePerOne}}</del>
        <b>${{[helpers/discount] pricePerOne 10}}</b>
        {{else}}
        ${{pricePerOne}}
        {{/if}}
    </td>
    <td class="basket-row">
        <a class="quantity-btn quantity-btn--remove" href="#">-</a>
        {{quantity}}
        <a class="quantity-btn quantity-btn--add" href="#">+</a>
    </td>
    <td class="basket-row"><button type="button" class="btn btn-outline-danger remove-item-btn">Remove</button></td>
</tr>