<tr class="product-row" data-master-id={{masterId}} data-variation-id={{variationId}}>
    <th scope="row">{{name}}</th>
    <td>{{detail}}</td>
    <td>{{pricePerOne}}</td>
    <td>
        <a class="quantity-btn quantity-btn--remove" href="#">-</a>
        {{quantity}}
        <a class="quantity-btn quantity-btn--add" href="#">+</a>
    </td>
    <td><button type="button" class="btn btn-outline-danger remove-item-btn">Remove</button></td>
</tr>